body {
    background: linear-gradient(0deg, #DFF6FF, #2e91b9);
    height: 100vh;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #06283D;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 90px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #1881c2;
}

nav input {
    display: none;
}

.BtnBuscarCaja {
    position: absolute;
    top: 18px;
    right: 200px;
    z-index: 9999;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 4px 8px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btnbusqueda {
    border: 1px solid #ccc;
    outline: none;
    padding: 12px 10px;
    font-size: 14px;
    border-radius: 20px;
    width: 250px;
    background-color: white;
    color: black;
}

.imgboton {
    background-color: #06283D;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.imgboton svg {
    fill: white;
    width: 20px;
    height: 20px;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.imgboton:hover {
    background-color: #47B5FF;
}

.imgboton:active {
    background-color: #1363DF;
    transform: scale(0.95);
}

.profile-user{
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 9999;
}
.logouser {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.profile-user svg{
    width: 30px;
    height: 30px;

}