body {
    background-color: #DFF6FF;
    min-height: 100vh;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #06283D;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 90px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #1363DF;
}

nav input {
    display: none;
}

.BtnBuscarCaja {
    position: fixed;
    top: 18px;
    right: 280px;
    z-index: 9999;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 4px 8px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btnbusqueda {
    border: 1px solid #ccc;
    outline: none;
    padding: 12px 10px;
    font-size: 14px;
    border-radius: 20px;
    width: 250px;
    background-color: white;
    color: black;
}

.imgboton {
    background-color: #06283D;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.imgboton svg {
    fill: white;
    width: 20px;
    height: 20px;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.imgboton:hover {
    background-color: #47B5FF;
}

.imgboton:active {
    background-color: #1363DF;
    transform: scale(0.95);
}

.profile-user {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 9999;
}

.logouser {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.profile-user svg {
    width: 30px;
    height: 30px;

}

.contenedor-productos {
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 20px;
}

.producto {
    width: 300px;
    background: #06283D;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.producto h3 {
    font-size: 16px;
    margin: 10px 0;
    color: white;
}

.producto h4 {
    font-size: 16px;
    margin: 10px 0;
    color: white;
}

.boton-ver {
    position: relative;
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: #1363DF;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
}

.animacionMartillo {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 100px;
    height: 100px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.animacionMartillo img {
    width: 100%;
    height: 100%;
}

@keyframes martillo-movimiento {
    0% {
        transform: rotate(50deg) translateY(-80px) translateX(-30px);
        /* Empieza normal */
    }

    25% {
        transform: rotate(100deg) translateY(-80px) translateX(-30px);
        /* Se va hacia atrás */
    }

    50% {
        transform: rotate(-20deg) translateY(-50px) translateX(-30px);
        /* Golpe - martillo se mueve hacia adelante */
    }

    75% {
        transform: rotate(50deg) translateY(-80px) translateX(-30px);
        /* Retorna ligeramente hacia atrás */
    }

    100% {
        transform: rotate(50deg) translateY(-80px) translateX(-30px);
        /* Vuelve a la posición normal */
    }
}

.boton-ver:hover .animacionMartillo {
    opacity: 1;
    animation: martillo-movimiento 2.0s ease-in-out infinite;
}

.boton-ver:hover {
    background: #47B5FF;
}

.seccion-marcas {
    padding-top: 100px;
    /* para dejar espacio debajo del nav fijo */
    padding-bottom: 40px;
}

.contenedor-marcas {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.contenedor-marcas img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    /* antes era 10px */
}

.piedepagina {
    position: relative;
    text-align: center;
    background-color: #06283D;
    color: white;
    padding: 20px;
    top: 110px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.card-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 10px 10;
}

.card {
    position: relative;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1;
    max-width: 500px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.switchMBO {
    position: fixed;
    display: inline-block;
    top: 28px;
    right: 150px;
    width: 60px;
    height: 34px;
    z-index: 9999;
}

.switchMBO input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderMBO {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #47B5FF;
    border-radius: 34px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.sliderMBO::before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #06283D;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.sliderMBO {
    background-color: #DFF6FF;
}

input:checked+.sliderMBO::before {
    transform: translateX(26px);
}

.darkMODEDK {
    background-color: #06283D;
    color: white;

    .producto {
        background: #1363DF;
    }

    .piedepagina {
        background: #04152d;
    }

    .card-group {
        background-color: #06283D;
        border-radius: 0px;
    }

    .boton-ver {
        background: #04152d;
    }

    .boton-ver:hover {
        background: #DFF6FF;
        color: black;
    }

    .login-container {
        background-color: #04152d;
    }

    .create-account {
        color: white;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #DFF6FF;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #06283D;
}

.login-box label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #06283D;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #1363DF;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.login-box button:hover {
    background-color: #47B5FF;
}

.new-account {
    margin-top: 20px;
    text-align: center;
}

.NuevoUsuario {
    position: fixed;
    display: inline-block;
    top: 15px;
    right: 45px;
    width: 60px;
    height: 34px;
    z-index: 9999;
}

.NuevoUsuario a {
    font-size: 22px;
    color: white
}

.NuevoUsuario:hover {
    cursor: pointer;
}

.botonesPerfil {
    display: none;
    /* Oculta la lista por defecto */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1363DF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.botonesPerfil li {
    border-bottom: 1px solid;
}

.botonesPerfil li:last-child {
    border-bottom: none;
}

.botonesPerfil li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.botonesPerfil li a:hover {
    background-color: #DFF6FF;
    color: black;
}

.profile-user:hover .botonesPerfil {
    display: block;
}

.carbuy {
    position: fixed;
    top: 20px;
    right: 630px;
    z-index: 9999;
}

.carbuyBttn {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.carbuyBttn svg {
    width: 30px;
    height: 30px;

}